body.black {
  background-color:black;
  color:white;
}
body.white {
  background-color:white;
  color:black;
}

img {
border: 3px solid white;
width: 300px;
height: 300px;
float: center;
}
